{% extends 'layout/app.twig' %}
{% block pageContent %}
    <div id="content">
        <div class="inner">

            <!-- Post -->
            <article class="box post post-excerpt">
                <header>
                    <!--
                        Note: Titles and subtitles will wrap automatically when necessary, so don't worry
                        if they get too long. You can also remove the <p> entirely if you don't
                        need a subtitle.
                    -->
                    <h2><a href="#">Evenement toevoegen.</a></h2>

                </header>
                <form id="eventform" method="post">
                    <h3>Evenementennaam</h3>
                    <input type="text" id="evenementnaam" name="evenementnaam" placeholder="evenementnaam"
                           value="{{ eventname }}">
                    <span></span>
                    <h3>Locatie</h3>
                    <input type="text" id="locatie" name="locatie" placeholder="Locatie"
                           value="{{ locatie }}">
                    <span></span>
                    <h3>Standaard ticket prijs</h3>
                    <input type="number" id="ticketprijs" name="ticketprijs" min="0" max="99999999"
                           value="{{ ticketprijs }}">
                    <h3>Datum</h3>
                    <input type="text" placeholder="d-m-j" name="datum1" value="{{ datum1 }}">
                    <p>tot</p>
                    <input type="text" placeholder="d-m-j" name="datum2" value="{{ datum2 }}">
                    <h3>Descriptie</h3>
                    <textarea id="desc" name="desc">{{ desc }}</textarea>
                    <input type="hidden" name="moduleAction" value="processName">
                    <input type="submit" id="button" value="Verzenden" name="bttnsubmit">

                </form>

            </article>

            <!-- Post -->
            <article class="box post post-excerpt">
                <header>


                </header>

            </article>

            <!-- Pagination -->
            <div class="pagination">
                <!--<a href="#" class="button previous">Previous Page</a>-->
                <div class="pages">

                </div>

            </div>

        </div>
    </div>
{% endblock %}