{% extends 'layout/app.twig' %}
{% block pageContent %}
    <!-- Content -->
    <div id="content">
        <div class="inner">

            <!-- Post -->
            <article class="box post post-excerpt">
                <header>
                    <!--
                        Note: Titles and subtitles will wrap automatically when necessary, so don't worry
                        if they get too long. You can also remove the <p> entirely if you don't
                        need a subtitle.
                    -->
                    <h2><a href="#">Sign up</a></h2>

                </header>
                <form id="signupform" method="post">
                    <h3>Gebruikersnaam</h3>
                    <input type="text" id="gebruikersnaam_signup" name="gebruikersnaam" placeholder="Gebruikersnaam"
                           value="{{ gebruikersnaam }}">
                    <span>{{ errorGebruikersnaam }}</span>
                    <h3>Email</h3>
                    <input type="text" id="email" name="email" placeholder="Email" value="{{ email }}">
                    <span>{{ errorEmail }}</span>
                    <h3>Wachtwoord</h3>
                    <input type="password" id="wachtwoord1" name="wachtwoord" placeholder="Wachtwoord"
                           value="{{ wachtwoord }}">
                    <span>{{ errorWachtwoord }}</span>
                    <h3>Voer wachtwoord nogmaals in</h3>
                    <input type="password" id="wachtwoord2" name="wachtwoord2" placeholder="Wachtwoord"
                           value="{{ wachtwoord2 }}">
                    <span>{{ errorWachtwoord2 }}</span>
                    <input type="hidden" name="moduleAction" value="processName">
                    <input type="submit" id="button" value="Sign up">
                </form>


            </article>

            <!-- Post -->
            <article class="box post post-excerpt">
                <header>


                </header>

            </article>

            <!-- Pagination -->
            <div class="pagination">
                <!--<a href="#" class="button previous">Previous Page</a>-->
                <div class="pages">

                </div>

            </div>

        </div>
    </div>
{% endblock %}

